@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: 0.75rem;
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-sm: calc(var(--radius-lg) - 4px);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  
  --card: #ffffff;
  --card-foreground: #0f172a;
  
  --primary: #884dff;
  /* --primary: #6366f1; */
  --primary-foreground: #ffffff;
  
  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;
  
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #6366f1;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
  
  --card: #0f172a;
  --card-foreground: #f8fafc;
  
  --primary: #818cf8;
  --primary-foreground: #0f172a;
  
  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
  
  --destructive: #ca1818;
  --destructive-foreground: #f8fafc;

  --border: #1e293b;
  --input: #1e293b;
  --ring: #818cf8;
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
  font-feature-settings: "rlig" 1, "calt" 1;
}

button {
  @apply cursor-pointer;
}

h1 {
  @apply font-bold mb-12 text-primary text-[clamp(1.5rem,5dvw,3rem)];
}

.form {
  @apply grid max-w-xs mx-auto border p-12 box-content rounded-lg border-border shadow-border shadow-md
}

.form input {
  @apply outline-0 ring-1 ring-foreground/30 px-2 py-1 rounded-sm focus:ring-primary focus:ring-2 transition-all duration-300 mb-2
}

.form button {
  @apply bg-primary py-1 px-2 my-4 rounded-sm text-secondary cursor-pointer hover:bg-primary/80 transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-primary
}

.form .error {
  @apply text-destructive bg-destructive/10 mb-2 rounded-sm p-2 text-center text-sm italic font-semibold
}

.form a {
  @apply text-primary font-semibold underline
}